<!DOCTYPE html>
<html>
    <head>
        <title>CRUD de Clientes</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1><%=title %></h1>
                <p>Preencha os dados abaixo para salvar o cliente.</p>
                <div class="alert alert-danger col-lg-6">
                    <strong>Erro!</strong> Nome e idade são dados obrigatórios!
                </div>
            </div>

            <div class="row">

                <form action="<%=action %>" method="POST" role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-1 control-label" for="nome">Nome: </label>
                        <div class="col-lg-5">
                            <input type="text" id="nome" name="nome" value="<%= doc.nome %>" class="form-control" /></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-1 control-label" for="idade">Idade:</label> 
                        <div class="col-lg-5">
                            <input type="number" name="idade" value="<%= doc.idade %>" class="form-control"/></label>
                        </div>
                    </div>

                    <div class="form-group">
                        </label class="col-lg-1 control-label">UF: </label>
                        <div class="col-lg-5">
                            <select name="uf" class="form-control">
                                <% const s="selected" %>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option> 
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option <% if(doc.uf==="RJ"){%> <%=s%> <%}%> >RJ</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2">
                            <a href="/" class="btn btn-default">Cancelar</a>
                            <input type="submit" value="Salvar" class="btn btn-default"/>
                        </div>
                    </div>
                </form>
            </div>
        </div> 

        <script src="/js/jquery-3.3.1.min.js"></script>
        <!-- <script src="/js/bootstrap.min.js"></script> -->
        <script src="/js/script-new.js"></script>
    </body>
</html>
